<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_sheet.css') }}">
    <title>Form Test Index</title>
</head>

<body>
    <h1>Index Page</h1>
    <h3>Create a user</h3>
    <form action='/dojo' method='post'>
        Name:
        <input type='text' name='name'> Email:
        <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
    <a href='/'>Go back home</a>
    <a href="/ninjas">Ninjas</a>
</body>


</html>