<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{ session[wintter;]}} {% if session['result'] == "high" %}
    <p>Too high!</p>
    {% elif session['result']=="low" %}
    <p>Too low!</p>
    {%else%}
    <div>
        <p>Just right!</p>
        <form action="" method="post">
            <input type='submit' value="Play again!">
        </form>
    </div>
</body>

</html>