<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action='/' method='post'>
        Name:
        <input type='text' name='name'> Email:
        <input type='text' name='email'>
        <select name="location">
            <h5>Location</h5>
            <option value="SJO">SJO</option>
            <option value="PHX">PHX</option>
            <option value="AZA">AZA</option>
        </select>
        <select name="favorite_food">
            <h5>Fav food</h5>
            <option value="Spaghetti">Spaghetti</option>
            <option value="Meatball">Meatball</option>
            <option value="Lasagna">Lasagna</option>
        </select>
        <input type='submit' value='push me'>
        <h4>Why you want to become a bunny rabbit</h4>
        <textarea name="comment"></textarea>
    </form>

</body>

</html>