<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Process Confirmation</title>
</head>

<body>
    <h1>Thank you {{name}}, you have submitted your information succesfully.
    </h1>
    <h3>Now you've signed up to be a bunny, {{name}}!</h3>
    <h1>submitted info</h1>
    <h2>Name: {{name}}</h2>
    <h2>Location: {{location}}</h2>
    <h2> Favorite Food: {{favorite_food}}</h2>
    <h2>Why you want to be a bunny: {{comment}}</h2>
    <a href="/">Go back</a>
</body>


</html>