<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutMe</title>
</head>

<body>
    <h1>About ME!!!</h1>
    <p>Hi, I'm Chawesome per Giordev. I like painting pottery, watercolor painting, hula dnacing. Also, I am OBSESSED with bunny
        rabbits (lagomorphs). I would like to emphasize that rabbits are NOT hares, have a different number of chromosomes.
        They can not reproduce toether. Bunnies are born blind and furless. Hares are born with hair and their eyes open.
        My favorite type of rabbit is a pygmy rabbit.
    </p>
    <a href="/">Back to Home</a>
    <a href="/projects">Projects I worked on</a>
</body>

</html>