<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <h1>Hi, I'm Chawesome. This is my port. Good day to you</h1>
    <h2>I made this page because it is my first exposure to python and Flask. Snakes and booze, YEAH!</h2>
    <a href="/aboutMe">About me... learn more about Chawesome</a>
    <a href='/projects'>Projects I worked on</a>
</body>

</html>