<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>

<body>
    <h1>Projects</h1>
    <h2>Here are some projects I worked on</h2>
    <ul>
        <li>Anatomy, Pharmacology and Pharmacodynamics and Toxicology of Lagomorphs</li>
        <li>Osteoarthritis in lagomorphs</li>
        <li>Endocrinology of lagomorphs</li>
        <li>Certified nationally and by AZ board of pharmacy to provide care to exotic animals specializing in Lagomorph chemotherapy
            compounding
        </li>

        <a href="/">Back to Home</a>
        <a href="/aboutMe">About Me</a>

    </ul>
</body>

</html>