<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='tmnt.png') }}">
    <title>Ninjas</title>
</head>

<body>
    <h1>the ninja turtles are here!</h1>
    <a href="/">Go back home, where no ninja turtles are</a>
    <a href='/ninja/blue'>go meet leonardo</a>
    <a href='/ninja/red'>go meet raphael</a>
    <a href='/ninja/orange'>go meet michaelangelo</a>
    <a href='/ninja/purple'>go meet donatello</a>
</body>

</html>